body {
    font-family: 'Arial', sans-serif;
  }
  
  .nav-link {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .nav-link:hover {
    background-color: #0056b3;
    border-radius: 5px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  